<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project_status.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @project_status.position %>
</p>

<p>
  <strong>Project type:</strong>
  <%= @project_status.project_type %>
</p>

<%= link_to 'Edit', edit_project_status_path(@project_status) %> |
<%= link_to 'Back', project_statuses_path %>
