<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name, 'Nombres' %>
    <%= form.text_field :first_name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :last_name, 'Apellidos' %>
    <%= form.text_field :last_name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :email, 'Correo Electrónico' %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :department_id, 'Departamento' %>
    <%= form.collection_select :department_id, Department.all, :id, :name  %>
  </div>

  <div class="field">
    <%= form.label :supervisor_id, 'Jefe Inmediato' %>
    <%= form.collection_select :supervisor_id, User.all, :id, :full_name  %>
  </div>

  <div class="field">
    <%= form.label :access, 'Tipo de acceso' %>
    <% access_array = User::ACCESS_TYPE.invert %>
    <%= form.select :access, options_for_select(access_array, user.access) %>
  </div>

  <div class="field">
    <%= form.label :business_unit_id, 'Sede' %>
    <%= form.collection_select :business_unit_id, BusinessUnit.all, :id, :name  %>
  </div>

  <div class="field">
    <%= form.label :status, 'Estado' %>
    <% status_array = User::STATUS_TEXT.invert %>
    <%= form.select :status, options_for_select(status_array, user.status) %>
  </div>

  
  <div class="actions">
    <%= form.submit 'Guardar', class: 'btn blue' %>
  </div>
<% end %>
