<nav class="config-breadcrumb z-depth-0">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="/configuracion" class="breadcrumb">Configuración</a>
        <a href="/configuracion/usuarios" class="breadcrumb">Usuarios</a>
      </div>
    </div>
</nav>

<table class="highlight bordered">
  <thead>
    <tr>
      <th></th>
      <th>Nombre</th>
      <th>Email</th>
      <th>Departmento</th>
      <th>Jefe Inmediato</th>
      <th>Sede</th>
      <th>Acceso</th>
      <th>Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="tr-link" data-href="<%= edit_user_path(user) %>">
        <th><img src="<%= user.picture %>" class="circle picture-48"></th>
        <td><%= user.first_name %> <%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.department.name rescue 'Sin definir' %></td>
        <td><%= user.supervisor.full_name rescue "Sin definir #{user.supervisor_id}"  %></td>
        <td><%= user.business_unit.name rescue "Sin definir #{user.business_unit_id}"  %></td>
        <td><%= user.access_text %></td>
        <td><%= user.status_text %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light red" href="<%= new_user_path %>"><i class="material-icons">add</i></a>
</div>

<script>
Materialize.toast('<%= notice %>', 3000)
</script>


