<nav class="config-breadcrumb z-depth-0">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="/configuracion" class="breadcrumb">Configuración</a>
        <a href="/configuracion/clientes" class="breadcrumb">Clientes</a>
      </div>
    </div>
</nav>
<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Nombre corto</th>
      <th>Nombre real</th>
      <th>Dirección</th>
      <th>Tamaño de la empresa</th>
      <th>Industria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.short_name %></td>
        <td><%= client.real_name %></td>
        <td><%= client.address %></td>
        <td><%= client.company_size %></td>
        <td><%= client.industry_id %></td>
        <td><%= link_to 'Ver', client %></td>
        <td><%= link_to 'Editar', edit_client_path(client) %></td>
        <td><%= link_to 'Eliminar', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light red" href="<%= new_client_path %>"><i class="material-icons">add</i></a>
</div>
