<nav class="config-breadcrumb z-depth-0">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="/configuracion" class="breadcrumb">Configuración</a>
        <a href="/configuracion/clientes" class="breadcrumb">Clientes</a>
      </div>
    </div>
</nav>

<div class="admin-area z-depth-0">
<table class="highlight bordered">
  <thead>
    <tr>
      <th>Nombre corto</th>
      <th>Nombre real</th>
      <th>Dirección</th>
      <th>Tamaño de la empresa</th>
      <th>Industria</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr class="tr-link" data-href="<%= edit_client_path(client) %>">
        <td><%= client.short_name %></td>
        <td><%= client.real_name %></td>
        <td><%= client.address %></td>
        <td><%= client.company_size.name rescue '--' %></td>
        <td><%= client.industry.name rescue '--' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light red" href="<%= new_client_path %>"><i class="material-icons">add</i></a>
</div>
</div>

<script>
Materialize.toast('<%= notice %>', 3000)
</script>

