<p id="notice"><%= notice %></p>

<p>
  <strong>Short name:</strong>
  <%= @client.short_name %>
</p>

<p>
  <strong>Real name:</strong>
  <%= @client.real_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Company size:</strong>
  <%= @client.company_size %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @client.industry_id %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
