<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre corto:</strong>
  <%= @client.short_name %>
</p>

<p>
  <strong>Nombre real:</strong>
  <%= @client.real_name %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Tamaño de la compañía:</strong>
  <%= @client.company_size %>
</p>

<p>
  <strong>Industria:</strong>
  <%= @client.industry_id %>
</p>

<%= link_to 'Editar', edit_client_path(@client) %> |
<%= link_to 'Regresar', clients_path %>
