<nav class="config-breadcrumb z-depth-0">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="/configuracion" class="breadcrumb">Configuración</a>
        <a href="/configuracion/industrias" class="breadcrumb">Industrias</a>
      </div>
    </div>
</nav>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @industries.each do |industry| %>
      <tr>
        <td><%= industry.name %></td>
        <td><%= industry.description %></td>
        <td><%= link_to 'Mostrar', industry %></td>
        <td><%= link_to 'Editar', edit_industry_path(industry) %></td>
        <td><%= link_to 'Eliminar', industry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light red" href="<%= new_industry_path %>"><i class="material-icons">add</i></a>
</div>

<script>
Materialize.toast('<%= notice %>', 3000)
</script>

