<div class="card-alert card-green">
<div class="card-content white-text"><p><%= notice %></p></div>
</div>

<p>
  <strong>Name:</strong>
  <%= @industry.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @industry.description %>
</p>

<%= link_to 'Editar', edit_industry_path(@industry) %> |
<%= link_to 'Regresar', industries_path %>
