<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field field">
    <%= form.label :internal_name, "Proyecto" %>
    <%= form.text_field :internal_name, id: :project_internal_name%>
  </div>

  <div class="field">
    <%= form.label :project_type_id, "Tipo de proyecto" %>
    <%= form.collection_select :project_type_id, ProjectType.all, :id, :name  %>
  </div>

  <div class="field">
    <%= form.label :research_type, "Tipo de investigación" %>
    <% research_type_array = Project::RESEARCH_TYPE.invert %>
    <%= form.select :research_type, options_for_select(research_type_array, project.research_type) %>
  </div>

  <div class="field">
    <%= form.label :client_id, "Cliente" %>
    <%= form.collection_select :client_id, Client.all, :id, :short_name  %>
  </div>

  <div class="input-field field">
    <%= form.label :erp_number, "Identificador interno de proyecto (NetMultix)" %>
    <%= form.text_field :erp_number, id: :project_erp_number %>
  </div>

  <div class="input-field field">
    <%= form.label :number, "Identificador externo de proyecto (e.g. Número CONACYT)" %>
    <%= form.text_field :number, id: :project_number %>
  </div>

  <div class="row">
    <div class="col s6">
      <div class="field">
        <label for="project_start_date">Fecha Inicio</label>
        <%= text_field_tag "project_start_date", @project.start_date, class: "datepicker" %>
      </div>
    </div>
    <div class="col s6">
      <div class="field">
        <label for="project_end_date">Fecha Termino</label>
        <%= text_field_tag "project_end_date", @project.end_date, class: "datepicker" %>
      </div>
    </div>
  </div>

  <div class="input-field field">
    <%= form.label :goal, "Objetivo" %>
    <%= form.text_area :goal, id: :project_goal, class: 'materialize-textarea' %>
  </div>

  <div class="input-field field">
    <%= form.label :results, "Resultados Esperados" %>
    <%= form.text_area :results, id: :project_results, class: 'materialize-textarea' %>
  </div>

  <div class="field">
    <%= form.label :manager_id, "Responsable del proyecto" %>
    <%= form.collection_select :manager_id, User.all, :id, :full_name  %>
  </div>

  <div class="field">
    <%= form.label :agent_id, "Ejecutivo" %>
    <%= form.collection_select :agent_id, User.all, :id, :full_name  %>
  </div>

  <div class="field">
    <%= form.label :department_id, "Departamento" %>
    <%= form.collection_select :department_id, Department.all, :id, :name  %>
  </div>

  <div class="field">
    <%= form.label :business_unit_id, "Sede" %>
    <%= form.collection_select :business_unit_id, BusinessUnit.all, :id, :name  %>
  </div>




  <div class="actions">
    <%= form.submit 'Guardar', class: 'btn blue' %>
  </div>
<% end %>
