<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :internal_name, "Nombre interno" %>
    <%= form.text_field :internal_name, id: :project_internal_name%>
  </div>

  <div class="field">
    <%= form.label :name, "Nombre real" %>
    <%= form.text_field :name, id: :project_name %>
  </div>

  <div class="field">
    <%= form.label :client_id, "Cliente" %>
    <%= form.collection_select :client_id, Client.all, :id, :short_name  %>
  </div>

  <div class="field">
    <%= form.label :number, "Identificador de proyecto" %>
    <%= form.text_field :number, id: :project_number %>
  </div>

  <div class="field">
    <%= form.label :goal, "Objetivo" %>
    <%= form.text_area :goal, id: :project_goal %>
  </div>

  <div class="field">
    <%= form.label :manager_id, "Responsable del proyecto" %>
    <%= form.collection_select :manager_id, User.all, :id, :full_name  %>
  </div>

  <div class="field">
    <%= form.label :agent_id, "Agente" %>
    <%= form.collection_select :agent_id, User.all, :id, :full_name  %>
  </div>

  <div class="field">
    <%= form.label :department_id %>
    <%= form.collection_select :department_id, Department.all, :id, :name  %>
  </div>

  <div class="field">
    <%= form.label :business_unit_id %>
    <%= form.collection_select :business_unit_id, BusinessUnit.all, :id, :name  %>
  </div>

  <div class="field">
    <%= form.label :project_type_id %>
    <%= form.collection_select :project_type_id, ProjectType.all, :id, :name  %>
  </div>


  <div class="actions">
    <%= form.submit 'Guardar', class: 'btn blue' %>
  </div>
<% end %>
