<h3 class="center project-title-header"> <%= link_to @project.internal_name, @project %></h3>
<!--
<div class="center project-participants">
  <img src="<%= @project.manager.picture %>" class="circle picture-48 responsive-img tooltipped" data-position="bottom" data-delay="50" data-tooltip="Responsable: <%= @project.manager.full_name %>">
  <img src="<%= @project.agent.picture %>" class="circle picture-48 responsive-img tooltipped" data-position="bottom" data-delay="50" data-tooltip="Agente: <%= @project.agent.full_name %>">
  <%= image_tag "dots.png", class: 'circle picture-48 responsive-img' %>
</div>
-->
<div class="spacer"></div>

<% if show_top_menu %>
<table id="project-menu">
<tr>
<td><a class="waves-effect waves-light menu-item red darken-1" href="<%= edit_project_path(@project) %>">Información</a></td>
<td><a class="waves-effect waves-light menu-item deep-orange lighten-1" href="<%= "#{project_url(@project)}" %>/presupuesto">Presupuesto</a></td>
<td><a class="waves-effect waves-light menu-item amber accent-4" href="<%= "#{project_url(@project)}" %>/mensajes">Mensajes</a></td>
<td><a class="waves-effect waves-light menu-item green" href="<%= "#{project_url(@project)}" %>/calendario">Calendario</a></td>
<td><a class="waves-effect waves-light menu-item cyan" href="<%= "#{project_url(@project)}" %>/servicios">Servicios</a></td>
<td><a class="waves-effect waves-light menu-item purple" href="<%= "#{project_url(@project)}" %>/personas">Personas</a></td>
<td><a class="waves-effect waves-light menu-item pink darken-3" href="<%= "#{project_url(@project)}" %>/documentos">Documentos</a></td>
</tr>
</table>
<% end %>