<%= form_with(model: schedule, local: true) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_schedules.each do |m| %>
        <li><%= m %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :project_id, value: project.id %>
  <div class="input-field field">
    <%= form.text_field :title, id: :schedules_title, placeholder: 'Título...' %>
  </div>
  <div class="row">
    <div class="col s12">
      <%= form.check_box :all_day, id: :schedules_all_day %> 
      <label for="schedules_all_day">Todo el día</label>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l6 input-field field">
      <label for="start-date">De</label>
      <input type="text" id="start_date_date" name="start_date_date" class="datepicker" value="<%= schedule.start_date.strftime '%Y-%m-%d' rescue '' %>">
    </div>
    <div class="col s12 m2 l2 input-field field event-hours">
      <% 
      hours_array = {}
      24.times do |h|
        hh = h.to_s.rjust(2, '0')
        hours_array[hh + ':00'] = hh + ':00'
        hours_array[hh + ':30'] = hh + ':30'
      end 
      start_hours_value = schedule.start_date.strftime('%H:%M') rescue '00:00'
      %>
      <%= select_tag 'start_date_hours', options_for_select(hours_array, start_hours_value) %>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l6 input-field field">
      <label for="start-date">A</label>
      <input type="text" id="end_date_date" name="end_date_date" class="datepicker" value="<%= schedule.end_date.strftime '%Y-%m-%d' rescue '' %>">
    </div>
    <div class="col s12 m2 l2 input-field field event-hours">
      <% end_hours_value = schedule.end_date.strftime('%H:%M') rescue '00:00' %>
      <%= select_tag 'end_date_hours', options_for_select(hours_array, end_hours_value)  %>
    </div>
  </div>
  <div class="row">
    <div class="col s12 input-field field">
      <%= form.trix_editor :content, height: 400  %>
    </div>
  </div>
  <div class="schedule-button-area">
    <%= form.submit save_button, class: 'btn blue' %>
  </div>
<% end %>

<script>
$(function() {
  $('.datepicker').pickadate({
      format: 'yyyy-mm-dd',
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15, // Creates a dropdown of 15 years to control year,
      today: 'Hoy',
      clear: 'Limpiar',
      close: 'Ok',
      closeOnSelect: false // Close upon selecting a date,
    });
  $('.event-hours').hide();

  $(document).on('change', '#schedules_all_day', function() {
    if ($('#schedules_all_day').is(':checked')) {
      $('.event-hours').hide();  
    } else {
      $('.event-hours').show();
    }
    
  });

  <% if schedule.all_day %>
    $('.event-hours').hide();
  <% else %>
    $('.event-hours').show();
  <% end %>

});
</script>