<%= render 'header', project: @project, show_top_menu: true %>
<div class="project-area z-depth-1">
  <div class="project-area-title">Presupuesto</div>
  <% 
  partidas = {}
  budget_resume = {}
  budget_resume['autorizado'] = 0
  budget_resume['disponible'] = 0
  (1000..9000).step(1000) do |i|
    partidas[i.to_s] = {}
    partidas[i.to_s]['autorizado'] = 0
    partidas[i.to_s]['disponible'] = 0
  end
  %>
  <% @project.budget_details.each do |row| 
    current_partida = row['partida'].to_s[0,1] if current_partida == 0
    partidas["#{row['partida'].to_s[0,1]}000"]['autorizado'] += row['total_autorizado']
    partidas["#{row['partida'].to_s[0,1]}000"]['disponible'] += row['total_disponible']
    budget_resume['autorizado'] += row['total_autorizado']
    budget_resume['disponible'] += row['total_disponible']
  end
  %>
  <div class="spacer-2em"></div>
  <div class="row ">
    <div class="col s4">
      <% 
      if budget_resume['autorizado'] == 0 
        budget_percentage = 100
      else
        budget_percentage = 100 - (budget_resume['disponible'] * 100 / budget_resume['autorizado']).round 
      end

      if budget_percentage >= 90
        c_color = 'c-red'
      elsif budget_percentage >= 70
        c_color = 'c-yellow'
      else 
        c_color = 'c-green'
      end
      %>
      <div class="budget-numbers-circle c100 p<%= budget_percentage %> big <%= c_color %> center">
        <span><%= budget_percentage %>%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="row budget-numbers-big">
        <div class="col s12">
          <div class="budget-numbers-header">Aprobado</div>
          <div class="budget-numbers-amount"><%= number_to_currency(budget_resume['autorizado'], negative_format: '<span class="red-text">-%u%n</span>'.html_safe) %></div>
        </div>
      </div><div class="row budget-numbers-big">  
        <div class="col s12">
          <div class="budget-numbers-header">Disponible</div>
          <div class="budget-numbers-amount"><%= number_to_currency(budget_resume['disponible'], negative_format: '<span class="red-text">-%u%n</span>'.html_safe) %></div>
        </div>
      </div><div class="row">  
        <div class="col s12">
          <a href="<%= "#{project_url}" %>/presupuesto/detalle" class="budget-detail-link">Ver detalle</a>
        </div>
      </div>
    </div>
    <div class="col s4">
      <table class="budget-table">
        <thead>
          <tr>
      	    <th>PARTIDA</th>
      	  	<th>APROBADO</th>
    	      <th>DISPONIBLE</th>
    	    </tr>
        </thead>
        <tbody>
          <% partidas.each do |key, row| %>
            <% next if row['autorizado'].to_i == 0 %>
            <tr>
        	    <td><%= key %></td>
              <td class="right-align"><%= number_to_currency(row['autorizado'], negative_format: '<span class="red-text">-%u%n</span>'.html_safe) %>
              <td class="right-align"><%= number_to_currency(row['disponible'], negative_format: '<span class="red-text">-%u%n</span>'.html_safe) %>
            </tr> 
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="spacer-2em"></div>
  <div class="row">
    <div class="col s12">
      <h5>Últimas requisiciones</h5>
      <table class="purchase-req-table">
        <thead>
          <tr>
            <th>REQUISICIÓN</th>
            <th>FECHA</th>
            <th>REALIZÓ</th>
            <th>SOLICITANTE</th>
            <th>RESPONSABLE</th>
            <th>ESTADO</th>
          </tr>
        </thead>
        <tbody>
          <% @project.purchase_requests(5).each do |row| %>
            <tr>
              <td><a href="<%= "#{project_url}" %>/presupuesto/requisiciones/<%= row['requisicion'] %>"><%= row['requisicion'] %></a></td>
              <td><%= row['fecha'] %></td>
              <td><%= row['usuario'] %></td>
              <td><%= row['solicitante'] %></td>
              <td><%= row['responsable'] %></td>
              <td><%= row['estado'] %></td>
            </tr>
          <% end %> 
        </tbody>
      </table>
      <div class="spacer-2em"></div>
      <a href="<%= "#{project_url}" %>/presupuesto/requisiciones" class="budget-detail-link">Ver todas las requisiciones del proyecto</a>
    </div>
    <div class="col s4">
    </div>
  </div>


</div>

<script>
Materialize.toast('<%= notice %>', 3000)
</script>