<%= render 'header', project: @project, show_top_menu: true %>
<div class="project-area z-depth-1">
  <div class="project-area-title">Documentos y Archivos</div>

  <div class="row docs-area">
    <div class="col s4 m4 docs-folders">
      <table class="highlight">
        <tr><th colspan="2">Carpetas</th></tr>
        <% @project.project_folders.order(:name).each do |folder| %>
          <tr><td class="folder-icon"><i class="small material-icons  amber-text text-lighten-3">folder</i></td><td><a href="#"><%= folder.name %></a></td></tr>
        <% end %>
         <tr class="new-folder-row"><td class="folder-icon"><i class="small material-icons  amber-text text-lighten-4">create_new_folder</i></td><td><a href="#">Crear nueva carpeta</a></td></tr>
         
      </table>
    </div>
    <div class="col s8 m8 docs-files">
      <% folder = @project.project_folders.find(1) %>
      <table class="highlight">
        <tr>
          <th colspan="2">Nombre</th>
          <th class="file-date">Fecha</th>
          <th class="file-size">Tamaño</th>
          <th class="file-by">Por</th>
        </tr>
        <% folder.project_files.order(:name).each do |file| %>
          <tr>
            <td class="file-type"><div class="file-ico"><div class="file-ico-inner <%= file.ext %>-ico"><%= file.ext %></div></div></td>
            <td class="file-name"><%= file.name %></td>
            <td class="file-date"><%= f_date(file.created_at) %></td>
            <td class="file-size"><%= file.size %></td>
            <td class="file-by"><img src="<%= file.user.picture %>" class="circle tooltipped"  data-position="bottom" data-delay="50" data-tooltip="<%= file.user.full_name %>"></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

</div>