<%= render 'header', project: @project, show_top_menu: true %>
<div class="project-area z-depth-1">
  <div class="project-area-title">Documentos y Archivos</div>

  <div class="row docs-area">
    <div class="col s4 m4 docs-folders">
      <table class="highlight">
        <tr><th colspan="2">Carpetas</th></tr>
        <% @project.project_folders.order(:name).each do |folder| %>
          <% folder_selected = @project_folder.id.to_i == folder.id.to_i ? "folder-selected" : "" %>
          <tr class="tr-link <%= folder_selected %>" data-href="<%= "#{project_url}/documentos/#{folder.id}" %>"><td class="folder-icon"><i class="small material-icons  amber-text text-lighten-3">folder</i></td><td><a href="#"><%= folder.name %></a></td></tr>
        <% end %>
         <tr class="new-folder-row"><td class="folder-icon"><i class="small material-icons  amber-text text-lighten-4">create_new_folder</i></td><td><a id="new-folder-link">Crear nueva carpeta</a></td></tr>
      </table>
      <div class="clearfix"></div>
    </div>
    <div class="col s8 m8 docs-files">
      <div id="files-area" data-list-url="<%= "#{project_url}/documentos/#{@project_folder.id}/listado" %>">
        <%= render 'projects/files_list', project_folder: @project_folder %>
      </div>
      <div class="files-upload-area">
        <form action="<%= project_files_path %>" class="dropzone" id="files-dropzone">
          <input type="hidden" name="project_file[project_folder_id]" value="<%= @project_folder.id %>">
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal New Folder -->
<div id="modal-new-folder" class="modal bottom-sheet">
  <div class="modal-content">
    <div class="row">
      <div class="col s9">
        <div class="field">
          <input id="new_folder_name" type="text" placeholder="Nueva carpeta..." name="new_folder_name">
        </div>
      </div>
      <div class="col s3">
        <button id="new_folder_btn" class="btn-large red" data-url="<%= project_folders_url %>">Crear carpeta</button>
      </div>
  </div>
</div>