<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Internal name</th>
      <th>Goal</th>
      <th>Manager</th>
      <th>Agent</th>
      <th>Department</th>
      <th>Business unit</th>
      <th>Project type</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.number %></td>
        <td><%= project.internal_name %></td>
        <td><%= project.goal %></td>
        <td><%= project.manager_id %></td>
        <td><%= project.agent_id %></td>
        <td><%= project.department_id %></td>
        <td><%= project.business_unit_id %></td>
        <td><%= project.project_type_id %></td>
        <td><%= project.status %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
