<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @project.number %>
</p>

<p>
  <strong>Internal name:</strong>
  <%= @project.internal_name %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @project.goal %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @project.manager_id %>
</p>

<p>
  <strong>Agent:</strong>
  <%= @project.agent_id %>
</p>

<p>
  <strong>Department:</strong>
  <%= @project.department_id %>
</p>

<p>
  <strong>Business unit:</strong>
  <%= @project.business_unit_id %>
</p>

<p>
  <strong>Project type:</strong>
  <%= @project.project_type_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project.status %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
