<%= render 'header', project: @project, show_cards: false %>

<div class="row" id="project-cards">
  <div class="col s12 m4 l4">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Información</span>
        <strong><%= @project.project_status.name rescue '--' %></strong><br/>
        Responsable: <%= @project.manager.full_name %><br/>
        Agente: <%= @project.agent.full_name %>
      </div>
      <div class="card-action">
        <a href="<%= edit_project_path(@project) %>">Editar</a>
      </div>
    </div>
  </div>

  <div class="col s12 m4 l4">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Calendario</span>
        <ul>
        <% @project.schedules.each do |sched| %>
          <li><%= future_date(sched.end_date) %>: <%= sched.title %></li>
        <% end %>
        </ul>
      </div>
      <div class="card-action">
        <a href="#">Ver Calendario</a>
      </div>
    </div>
  </div>

  <div class="col s12 m4 l4">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Mensajes</span>
        <p>No existen mensajes aún</p>
      </div>
      <div class="card-action">
        <a href="#">Ir a mensajes</a>
      </div>
    </div>
  </div>

  <div class="col s12 m4 l4">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Presupuesto</span>

        <% if @project.budget == 0 
               budget_percentage = 100
             else
                budget_percentage = (@project.budget_available * 100 / @project.budget).round 
             end
          %>
          <div class="c100 p<%= budget_percentage %> small c-green center">
            <span><%= budget_percentage %>%</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
          <p>
          Presupuesto: <%= number_to_currency(@project.budget) %><br/>
          Disponible: <%= number_to_currency(@project.budget_available) %><br/>
          Requisiciones: 0
          </p>
      </div>
      <div class="card-action">
        <a href="#">Ver más</a>
      </div>
    </div>
  </div>

  <div class="col s12 m4 l4">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Servicios de laboratorio</span>
        <p>Aquí irian los servicios que han sido solicitados por el proyecto via Bitacora Electrónica</p>
      </div>
      <div class="card-action">
        <a href="#">Servicios Bitácora</a>
      </div>
    </div>
  </div>

  <div class="col s12 m4 l4">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Personas</span>
        <p>Aquí veriamos un directorio completo de las personas involucradas en el proyecto, tanto instituciones como clientes</p>
      </div>
      <div class="card-action">
        <a href="#">Ver personas</a>
      </div>
    </div>
  </div>

  <div class="col s12 m4 l4">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Documentos y Archivos</span>
        <p>Aquí veriamos los documentos (acuerdos, informes, etc) y otros archivos</p>
      </div>
      <div class="card-action">
        <a href="#">Ver archivos</a>
      </div>
    </div>
  </div>


</div>
<script>
Materialize.toast('<%= notice %>', 3000)
</script>
