<p id="notice"><%= notice %></p>

<h3><%= @project.name %></h3>

<p>
  <strong>Número:</strong>
  <%= @project.number %>
</p>

<p>
  <strong>Nombre interno:</strong>
  <%= @project.internal_name %>
</p>

<p>
  <strong>Objetivo:</strong>
  <%= @project.goal %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @project.manager.name %>
</p>

<p>
  <strong>Agente:</strong>
  <%= @project.agent.name %>
</p>

<p>
  <strong>Departmento:</strong>
  <%= @project.department.name %>
</p>

<p>
  <strong>Sede:</strong>
  <%= @project.business_unit.name %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @project.project_type.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project.status %>
</p>

<%= link_to 'Editar', edit_project_path(@project) %> |
<%= link_to 'Regresar', projects_path %>
