<%= render 'header', project: @project, show_top_menu: false %>

<div class="row" id="project-cards">
  <div class="col s12 m6 l4">
    <div class="card card-link" data-href="<%= edit_project_path(@project) %>">
      <div class="card-content">
        <div class="project-card-title title-informacion">Información</div>
        <%
        ps = ProjectStatus.where(project_type_id: @project.project_type_id).order('position')
        ps_percent = (100 / (ps.count - 1)).round
        ps_pos = 0
        pp = 0
        position_active = 0
        ps.each do |p| 
          pp = pp + 1
          position_active = pp if p.id == @project.status
        end
        %>
        <div class="status-line">
          <% 
          pp = 0 
          ps.each do |p| %>
            <%
            pp = pp + 1
            if pp <= position_active
              c_active = ''
            else  
              c_active = 'circle-inactive' 
            end
            %>
            <div class="circle <%= c_active %> ps_pos_<%= ps_pos %> tooltipped"  data-position="bottom" data-delay="50" data-tooltip="<%= p.name %>"></div>
          <% ps_pos = ps_pos + ps_percent %>
          <% end %>
        </div>
        <div class="status-legend"><%= @project.project_status.name rescue '--' %></div>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-content">
        <div class="project-card-title title-presupuesto">Presupuesto</div>
          <% if true %>
            <% if @project.budget == 0 
                 budget_percentage = 100
               else
                  budget_percentage = (@project.budget_available * 100 / @project.budget).round 
               end
            %>
            <div class="c100 p<%= budget_percentage %> small c-green center">
              <span><%= budget_percentage %>%</span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
            <p><br/><br/>
            Presupuesto: <%= number_to_currency(@project.budget) %><br/>
            Disponible: <%= number_to_currency(@project.budget_available) %><br/>
            Requisiciones: 0
            </p>
          <% else %>
            <div class="project-card-icon center"><i class="material-icons large deep-orange-text">attach_money</i></div>
            <div class="project-card-initial-message">Ve el estado del presupuesto de tu proyecto. Es necesario tener capturado el número de proyecto del sistema <strong>NetMultix</strong>.</div>
          <% end %>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card card-link" data-href="<%= "#{project_url}" %>/mensajes">
      <div class="card-content">
        <div class="project-card-title title-mensajes">Mensajes</div>
        <% if @project.messages.count > 0 %>
          <table class="messages-list-card">
            <% @project.messages.where(status: Message::ACTIVE).order('created_at DESC').each do |msg| %>
            <tr>
              <td class="avatar-td"><img src="<%= msg.user.picture %>" class="circle responsive-img picture-32"></td>
              <td>
                <div class="message-meta"><%= msg.user.full_name %> • <%= f_date_no_time(msg.created_at) %></div>
                <div class="message-content"><strong><%= msg.title %></strong> – <%= strip_tags(msg.content).truncate_words(5) %></a></div>
              </td>
            </tr>
            <% end %>
          </table>
        <% else %>
          <div class="project-card-icon center"><i class="material-icons large amber-text">message</i></div>
          <div class="project-card-initial-message">Publica anuncios, avances, ideas, etc. y compartelos con todos los involucrados.</div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card card-link" data-href="<%= "#{project_url}" %>/calendario">
      <div class="card-content">
        <div class="project-card-title title-calendario">Calendario</div>
        <% max_scheds = 3 %>
        <% @schedules_list = @project.schedules.where(status: Schedule::ACTIVE).where('DATE(start_date) >= DATE(NOW()) OR DATE(end_date) >= DATE(NOW())').order('start_date ASC, end_date ASC').limit(max_scheds) %>    
        <% if @schedules_list.count > 0 %>
          <table class="calendar-home">
            <%= render 'projects/schedules_list_home', project: @project, schedules_list: @schedules_list, row_class: 'upcoming' %>
            <% if @schedules_list.count < max_scheds %>
              <% @schedules_past_list = @project.schedules.where(status: Schedule::ACTIVE).where('start_date <= NOW() AND NOT ( DATE(start_date) >= DATE(NOW()) OR DATE(end_date) >= DATE(NOW()) ) ').order('start_date DESC').limit(max_scheds - @schedules_list.count) %>
              <%= render 'projects/schedules_list_home', project: @project, schedules_list: @schedules_past_list, row_class: 'past-events' %>
            <% end %>
          </table>
        <% else %>

          <% @schedules_past_list = @project.schedules.where(status: Schedule::ACTIVE).where('start_date <= NOW() AND NOT ( DATE(start_date) >= DATE(NOW()) OR DATE(end_date) >= DATE(NOW()) ) ').order('start_date DESC').limit(max_scheds) %>
          <% if @schedules_past_list.count > 0 %>
            <table class="calendar-home">    
            <%= render 'projects/schedules_list_home', project: @project, schedules_list: @schedules_past_list, row_class: 'past-events' %>
            </table>
          <% else %>
            <div class="project-card-icon center"><i class="material-icons large green-text">today</i></div>
            <div class="project-card-initial-message">Publica fechas importantes del proyecto.</div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-content">
        <div class="project-card-title title-servicios">Servicios de laboratorio</div>
        <div class="project-card-icon center"><i class="material-icons large cyan-text">view_module</i></div>
        <div class="project-card-initial-message">El proyecto aún no tiene servicios registrados en <strong>Bitácora Electrónica</strong>.</div>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-content">
        <div class="project-card-title title-personas">Personas</div>
        <div class="row">
          <div class="col s12 m6 s6">
            <div class="person-card center">
              <img src="<%= @project.manager.picture %>" class="circle picture-48 responsive-img"><br/>
              <strong><%= @project.manager.full_name %></strong><br/>
              Responsable Técnico.
            </div>
          </div>
          <div class="col s12 m6 s6 center">
            <div class="person-card center">
              <img src="<%= @project.agent.picture %>" class="circle picture-48 responsive-img"><br/>
              <strong><%= @project.agent.full_name %></strong><br/>
              Ejecutivo CIMAV
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-content">
        <div class="project-card-title title-documentos">Documentos y Archivos</div>
        <div class="project-card-icon center"><i class="material-icons large pink-text">folder</i></div>
        <div class="project-card-initial-message">Comparte documentos, archivos, imagenes, reportes.</div>
      </div>
    </div>
  </div>


</div>
<script>
Materialize.toast('<%= notice %>', 3000)
$(".card-link").click(function() {
  window.location = $(this).data("href");
});
</script>
