<%= render 'header', project: @project, show_top_menu: true %>
<div class="project-area z-depth-1">
  <div class="project-area-title"><a href="<%= "#{project_url}" %>/presupuesto">Presupuesto</a></div>
  <div class="project-area-title"><i class="material-icons">expand_more</i></div>
  <div class="project-area-title"><a href="<%= "#{project_url}" %>/presupuesto/requisiciones">Requisiciones</a></div>
    <div class="project-area-title"><i class="material-icons">expand_more</i></div>
  <div class="project-area-title">Requisición <%= @request['number'] %></div>
  <div class="spacer-2em"></div>
  <table class="purchase-req-table">
    <thead>
      <tr>
        <th>PROYECTO</th>
        <th>COTIZACION</th>
        <th>PARTIDA</th>
        <th>DESCRIPCION</th>
        <th>ESTADO</th>
        <th>SESIÓN</th>
        <th>FECHA SESIÓN</th>
        <th>PROVEEDOR</th>
        <th>TIEMPO ENTREGA</th>
        <th>CANTIDAD</th>
        <th>COSTO</th>
        <th>IMPORTE</th>
        <th>ORDEN DE COMPRA</th>
        <th>FECHA OC</th>
	    </tr>
    </thead>
    <tbody>
    <% @request['details'].each do |row| %>
      <tr>
        <td><%= row['proyecto'] %></td>
        <td><%= row['cotizacion'] %></td>
        <td><%= row['partida'] %></td>
        <td><%= row['descripcion'] %></td>
        <td><%= row['status2'] %></td>
        <td><%= row['sesion'] %></td>
        <td><%= row['fechasesion'] %></td>
        <td><%= row['proveedor'] %></td>
        <td><%= row['tiempoentrega'] %></td>
        <td><%= row['cantidad'] %></td>
        <td><%= number_to_currency(row['costo']) %></td>
        <td><%= number_to_currency(row['importe']) %></td>
        <td><%= row['ordencompra'] %></td>
        <td><%= row['fechaordencompra'] %></td>
      </tr>
    <% end %> 
    </tbody>
  </table>
</div>
<script>
Materialize.toast('<%= notice %>', 3000)
</script>