<%= render 'header', project: @project, show_top_menu: false %>

<div class="row" id="project-cards">
  <div class="col s12 m6 l4">
    <div class="card card-link" data-href="<%= "#{project_url}" %>/detalles">
      <div class="card-content">
        <div class="project-card-title title-informacion">Información</div>
        <%= render 'status_line', project: @project %>
        <div class="status-legend"><%= @project.project_status.name rescue '--' %></div>
        <div class="row project-info-dates">
          <div class="col s6">
            <div class="project-date-header">Fecha Inicio</div>
            <div class="project-date"><%= @project.start_date.strftime("%Y-%m-%d") rescue '--' %></div>
          </div>
          <div class="col s6">
            <div class="project-date-header">Fecha Termino</div>
            <div class="project-date"><%= @project.end_date.strftime("%Y-%m-%d") rescue '--' %></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card card-link" data-href="<%= "#{project_url}" %>/presupuesto">
      <div class="card-content">
        <div class="project-card-title title-presupuesto">Presupuesto</div>
          <% if @project.erp_number.mb_chars.length > 0 %>
            <% budget_resume = @project.budget_resume %>
            <% if budget_resume['autorizado'] == 0 
                 budget_percentage = 100
               else
                 budget_percentage = 100 - (budget_resume['disponible'] * 100 / budget_resume['autorizado']).round 
               end

               if budget_percentage >= 90
                 c_color = 'c-red'
               elsif budget_percentage >= 70
                 c_color = 'c-yellow'
               else 
                 c_color = 'c-green'
               end
            %>
            <div class="budget-numbers-circle c100 p<%= budget_percentage %> medium <%= c_color %> center">
              <span><%= budget_percentage %>%</span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
            <div class="row budget-numbers">
              <div class="col s6">
                <div class="budget-numbers-header">Presupuesto</div>
                <div class="budget-numbers-amount"><%= number_to_currency(budget_resume['autorizado'], negative_format: '<span class="red-text">-%u%n</span>'.html_safe) %></div>
              </div>
              <div class="col s6">
                <div class="budget-numbers-header">Disponible</div>
                <div class="budget-numbers-amount"><%= number_to_currency(budget_resume['disponible'], negative_format: '<span class="red-text">-%u%n</span>'.html_safe) %></div>
              </div>
            </div>
          <% else %>
            <div class="project-card-icon center"><i class="material-icons large deep-orange-text">attach_money</i></div>
            <div class="project-card-initial-message">Ve el estado del presupuesto de tu proyecto. Es necesario tener capturado el número de proyecto del sistema <strong>NetMultix</strong>.</div>
          <% end %>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card card-link" data-href="<%= "#{project_url}" %>/mensajes">
      <div class="card-content">
        <div class="project-card-title title-mensajes">Mensajes</div>
        <% if @project.messages.count > 0 %>
          <table class="messages-list-card">
            <% @project.messages.where(status: Message::ACTIVE).order('created_at DESC').each do |msg| %>
            <tr>
              <td class="avatar-td"><img src="<%= msg.user.picture %>" class="circle responsive-img picture-32"></td>
              <td>
                <div class="message-meta"><%= msg.user.full_name %> • <%= f_date_no_time(msg.created_at) %></div>
                <div class="message-content"><strong><%= msg.title %></strong> – <%= strip_tags(msg.content).truncate_words(5) %></a></div>
              </td>
            </tr>
            <% end %>
          </table>
        <% else %>
          <div class="project-card-icon center"><i class="material-icons large amber-text">message</i></div>
          <div class="project-card-initial-message">Publica anuncios, avances, ideas, etc. y compartelos con todos los involucrados.</div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card card-link" data-href="<%= "#{project_url}" %>/calendario">
      <div class="card-content">
        <div class="project-card-title title-calendario">Calendario</div>
        <% max_scheds = 3 %>
        <% @schedules_list = @project.schedules.where(status: Schedule::ACTIVE).where('DATE(start_date) >= DATE(NOW()) OR DATE(end_date) >= DATE(NOW())').order('start_date ASC, end_date ASC').limit(max_scheds) %>    
        <% if @schedules_list.count > 0 %>
          <table class="calendar-home">
            <%= render 'projects/schedules_list_home', project: @project, schedules_list: @schedules_list, row_class: 'upcoming' %>
            <% if @schedules_list.count < max_scheds %>
              <% @schedules_past_list = @project.schedules.where(status: Schedule::ACTIVE).where('start_date <= NOW() AND NOT ( DATE(start_date) >= DATE(NOW()) OR DATE(end_date) >= DATE(NOW()) ) ').order('start_date DESC').limit(max_scheds - @schedules_list.count) %>
              <%= render 'projects/schedules_list_home', project: @project, schedules_list: @schedules_past_list, row_class: 'past-events' %>
            <% end %>
          </table>
        <% else %>

          <% @schedules_past_list = @project.schedules.where(status: Schedule::ACTIVE).where('start_date <= NOW() AND NOT ( DATE(start_date) >= DATE(NOW()) OR DATE(end_date) >= DATE(NOW()) ) ').order('start_date DESC').limit(max_scheds) %>
          <% if @schedules_past_list.count > 0 %>
            <table class="calendar-home">    
            <%= render 'projects/schedules_list_home', project: @project, schedules_list: @schedules_past_list, row_class: 'past-events' %>
            </table>
          <% else %>
            <div class="project-card-icon center"><i class="material-icons large green-text">today</i></div>
            <div class="project-card-initial-message">Publica fechas importantes del proyecto.</div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card card-link" data-href="<%= "#{project_url}" %>/servicios">
      <div class="card-content">
        <div class="project-card-title title-servicios">Servicios de laboratorio</div>
        <div class="project-card-icon center"><i class="material-icons large cyan-text">view_module</i></div>
        <div class="project-card-initial-message">El proyecto aún no tiene servicios registrados en <strong>Bitácora Electrónica</strong>.</div>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card card-link" data-href="<%= "#{project_url}" %>/personas">
      <div class="card-content">
        <div class="project-card-title title-personas">Personas</div>
        <div class="row">
          <div class="col s12 m6 s6">
            <div class="person-card center">
              <img src="<%= @project.manager.picture %>" class="circle picture-48 responsive-img"><br/>
              <strong><%= @project.manager.full_name %></strong><br/>
              Responsable Técnico.
            </div>
          </div>
          <div class="col s12 m6 s6 center">
            <div class="person-card center">
              <img src="<%= @project.agent.picture %>" class="circle picture-48 responsive-img"><br/>
              <strong><%= @project.agent.full_name %></strong><br/>
              Ejecutivo CIMAV
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="card card-link" data-href="<%= "#{project_url}" %>/documentos">
      <div class="card-content">
        <% max_files = 3 %>
        <div class="project-card-title title-documentos">Documentos y Archivos</div>
        <% recent_files = @project.project_files.order('project_files.created_at DESC').limit(max_files) %>
        <% if recent_files.count > 0 %>
          <table>
            <% recent_files.each do |file| %>
              <tr>
                <td><div class="file-ico"><div class="file-ico-inner <%= file.ext %>-ico"><%= file.ext %></div></div></td>
                <td><%= file.name %></td>
                <td class="no-wrap"><%= f_date(file.created_at) %></td>
              </tr>
            <% end %>
          </table>
        <% else %>
          <div class="project-card-icon center"><i class="material-icons large pink-text">folder</i></div>
          <div class="project-card-initial-message">Comparte documentos, archivos, imagenes, reportes.</div>
        <% end %>
      </div>
    </div>
  </div>


</div>
<script>
Materialize.toast('<%= notice %>', 3000)
$(".card-link").click(function() {
  window.location = $(this).data("href");
});
</script>
