<nav class="config-breadcrumb z-depth-0">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="/configuracion" class="breadcrumb">Configuración</a>
        <a href="/configuracion/company_sizes" class="breadcrumb">Tamaños de Empresas</a>
      </div>
    </div>
</nav>

<table class="highlight bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_sizes.each do |company_size| %>
      <tr class="tr-link" data-href="<%= edit_company_size_path(company_size) %>">
        <td><%= company_size.name %></td>
        <td><%= company_size.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light red" href="<%= new_company_size_path %>"><i class="material-icons">add</i></a>
</div>

<script>
Materialize.toast('<%= notice %>', 3000)
</script>
