<%= form_with(model: project_folder, local: true) do |form| %>
  <% if project_folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project_folder.errors.count, "error") %> prohibited this project_folder from being saved:</h2>

      <ul>
      <% project_folder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :project_folder_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :project_folder_description %>
  </div>

  <div class="field">
    <%= form.label :folder_type %>
    <%= form.number_field :folder_type, id: :project_folder_folder_type %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :project_folder_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
